:root {
  --lighter: #fafafa;
  --light: #e8f1f5;
  --dark: #005691;
  --darker: #004a7c;
}

.widgetlgCont {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 20px 0;
}

.widgetlgSub {
  box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 84%;
}

.transTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.theadd {
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  font-weight: 500;
  color: gray;
  font-size: clamp(13px, 1.1vw, 1.3vw);
}

.trow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-size: 1vw;
}

.col-1 {
  display: flex;
  align-items: flex-start;
  width: 40%;
}

.nameCol {
  font-size: clamp(14px, 1.1vw, 1.1rem);
  font-weight: 500;
  color: var(--darker);
}

.col-2 {
  display: flex;
  align-items: flex-start;
  width: 20%;
}

.col-3 {
  display: flex;
  align-items: flex-start;
  width: 20%;
}
.col-4 {
  display: flex;
  align-items: flex-start;
  width: 20%;
}

.transactionCard {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #00579125;
  align-items: center;
  padding: 5px 0;
  justify-content: center;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileCont {
  display: flex;
  align-items: center;
}

.tStatus {
  height: 36px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(
    to right,
    rgba(216, 216, 216, 0.4) 0%,
    rgba(216, 216, 216, 0.4) 50%,
    rgba(216, 216, 216, 0.4) 100%
  );
  padding: 3px 7px;
  border-radius: 20px;
  width: 70%;
  font-weight: 500;
}

.tStatusPending {
  background-color: rgb(17 17 226 / 16%);
  color: rgb(3 3 104 / 80%);
}

.tStatusApproved {
  background-color: rgb(17 226 17 / 16%);
  color: rgb(3 104 3 / 80%);
}

.tStatusDeclined {
  background-color: rgb(226 17 17 / 16%);
  color: rgb(104 3 3 / 80%);
}
